@media (min-width: 720px) {

    header h2 {
        font-size: 50px;
    }

    header button {
        width: 200px;
        height: 45px;
        font-size: 17px;
    }

    .introducao {
        padding: 20px;
    }

    .conteudo-intro {
        flex-direction: row-reverse;
    }

    .introducao-text, .introducao img {
        margin: 20px;
    }

    .introducao p, .introducao h2 {
        text-align: justify;
    }

    .objetivos {
        padding: 20px;
    }

    .objetivos h2 {
        font-size: 35px;
    }

    .objetivos-container {
        flex-direction: row;
        margin: 10px 5px 10px 5px;
    }

    @media screen and (min-width: 720px) and (max-width: 729px) {

        .objetivos {
            padding: 10px;
        }

        .objetivos-container {
            flex-direction: row;
            margin: 10px 5px 10px 5px;
        }
    }

    .container-2 p {
        font-size: 13px;
    }
}