@media screen and (min-width: 320px) {

    .hr-conteudo {
        border: none;
        height: 2px;
        width: 14em;
        background-color: white;
    }

    .hr-inferior {
        border: none;
        margin: 0;
        height: 10px;
        background-color: lightblue;
        box-shadow: 0px 3px 6px;
    }

    .hr-imagens {
        border: none;
        margin: 0px;
        height: 3px;
        width: 16vh;
        background-color: black;
    }

    .hr-objetivos {
        border: none;
        height: 3px;
        width: 16vh;
        background-color: white;
    }
}

@media screen and (min-width: 375px) {

    .hr-conteudo {
        width: 16em;
    }
}

@media screen and (min-width: 425px) {

    .hr-conteudo {
        width: 20em;
    }
}