body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    background-color: rgb(174, 0, 255);
}

.parte-login {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
} 

.geral-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(22, 20, 15);
    width: 350px;
    height: 400px;
    padding: 30px;
    border-radius: 10px;
}

.geral-login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.geral-login input {
    margin-top: 10px;
    background-color: gray;
    border-radius: 10px;
    border: none;
    height: 50px;
    outline: none;
}

.geral-login img {
    height: 100px;
    width: 100px;
}

input::placeholder {
    color:rgb(219, 213, 213);
    padding-left: 9px;
    font-size: 15px;
}

.input-login [type="submit"] {
    background-color: aqua;
    color: black;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.input-login [type="text"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.input-p {
    color:white;
    padding: 10px;
}

.input-a {
    color: aqua
}